In [1]:
import pandas as pd

# Specify the path to your CSV file
csv_file_path = '/Users/ginoangelici/Projects/DS3/Public-Transport/data/ITF_INDICATORS_18012024232053067.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

df

,COUNTRY,Country,INDICATOR,Indicator,YEAR,Year,Value,Flag Codes,Flags
0,ALB,Albania,IND-ENE-GDP,CO2 emissions from transport in tonnes per one...,2000,2000,421.851060,NaN,NaN
1,ALB,Albania,IND-ENE-GDP,CO2 emissions from transport in tonnes per one...,2001,2001,393.856062,NaN,NaN
2,ALB,Albania,IND-ENE-GDP,CO2 emissions from transport in tonnes per one...,2002,2002,406.892187,NaN,NaN
3,ALB,Albania,IND-ENE-GDP,CO2 emissions from transport in tonnes per one...,2003,2003,345.606161,NaN,NaN
4,ALB,Albania,IND-ENE-GDP,CO2 emissions from transport in tonnes per one...,2004,2004,321.365867,NaN,NaN
...,...,...,...,...,...,...,...,...,...
13938,CRI,Costa Rica,IND-ENE-NAVI,Share of CO2 emissions from navigation in tota...,2017,2017,0.045687,NaN,NaN
13939,CRI,Costa Rica,IND-ENE-NAVI,Share of CO2 emissions from navigation in tota...,2018,2018,0.082295,NaN,NaN
13940,CRI,Costa Rica,IND-ENE-NAVI,Share of CO2 emissions from navigation in tota...,2019,2019,0.110316,NaN,NaN
13941,CRI,Costa Rica,IND-ENE-NAVI,Share of CO2 emissions from navigation in tota...,2020,2020,0.117467,NaN,NaN
13942,CRI,Costa Rica,IND-ENE-NAVI,Share of CO2 emissions from navigation in tota...,2021,2021,0.120950,NaN,NaN

In [2]:
df_US = df[(df["COUNTRY"]=="USA") & (df["Indicator"]=="CO2 emissions from transport in tonnes per inhabitant")]

df_UK = df[(df["Country"]=="United Kingdom") & (df["Indicator"]=="CO2 emissions from transport in tonnes per inhabitant")]
df_UK

,COUNTRY,Country,INDICATOR,Indicator,YEAR,Year,Value,Flag Codes,Flags
10205,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2000,2000,2.087662,NaN,NaN
10206,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2001,2001,2.061900,NaN,NaN
10207,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2002,2002,2.074600,NaN,NaN
10208,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2003,2003,2.088483,NaN,NaN
10209,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2004,2004,2.100028,NaN,NaN
10210,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2005,2005,2.105953,NaN,NaN
10211,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2006,2006,2.117678,NaN,NaN
10212,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2007,2007,2.112662,NaN,NaN
10213,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2008,2008,1.985861,NaN,NaN
10214,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2009,2009,1.899896,NaN,NaN
10215,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2010,2010,1.861648,NaN,NaN
10216,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2011,2011,1.824270,NaN,NaN
10217,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2012,2012,1.803936,NaN,NaN
10218,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2013,2013,1.780395,NaN,NaN
10219,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2014,2014,1.790071,NaN,NaN
10220,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2015,2015,1.824740,NaN,NaN
10221,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2016,2016,1.853737,NaN,NaN
10222,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2017,2017,1.848140,NaN,NaN
10223,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2018,2018,1.814057,NaN,NaN
10224,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2019,2019,1.774332,NaN,NaN
10225,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2020,2020,1.409198,NaN,NaN
10226,GBR,United Kingdom,IND-ENE-PC,CO2 emissions from transport in tonnes per inh...,2021,2021,1.556450,NaN,NaN

In [3]:
from IPython.display import display

# Assuming 'result' is your DataFrame

# Specify the path to your CSV file
csv_file_path = 'data/ITF_CQ_25012024235411391.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

display(df.groupby(['Variable','COUNTRY']).agg('mean'))

/var/folders/39/pbkz55tn77x5j29wl0sjvkn40000gn/T/ipykernel_80978/3613571599.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(df.groupby(['Variable','COUNTRY']).agg('mean'))

                         YEAR         Year  PowerCode Code  \
Variable COUNTRY
Cycles   ARM      2014.500000  2014.500000             0.0
         AUT      2014.000000  2014.000000             0.0
         BEL      2014.000000  2014.000000             0.0
         BGR      2014.000000  2014.000000             0.0
         BLR      2014.000000  2014.000000             0.0
...                       ...          ...             ...
Unknown  SRB      2013.363636  2013.363636             0.0
         SVN      2014.000000  2014.000000             0.0
         SWE      2014.000000  2014.000000             0.0
         TUR      2014.000000  2014.000000             0.0
         USA      2013.000000  2013.000000             0.0

                  Reference Period Code  Reference Period        Value
Variable COUNTRY
Cycles   ARM                        NaN               NaN     8.000000
         AUT                        NaN               NaN  3381.777778
         BEL                        NaN               NaN  4602.055556
         BGR                        NaN               NaN   241.444444
         BLR                        NaN               NaN   208.722222
...                                 ...               ...          ...
Unknown  SRB                        NaN               NaN    43.000000
         SVN                        NaN               NaN     0.000000
         SWE                        NaN               NaN   616.370370
         TUR                        NaN               NaN     0.000000
         USA                        NaN               NaN   852.142857

[490 rows x 6 columns]

In [4]:
import pandas as pd

rrdf = pd.read_csv('/Users/ginoangelici/Projects/DS3/Public-Transport/data/OECD_Rail_and_Road.csv')
rrdf

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1970,12473.066624,NaN
1,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1971,12674.783011,NaN
2,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1972,11616.093761,NaN
3,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1973,11474.354465,NaN
4,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1974,10520.293577,NaN
...,...,...,...,...,...,...,...,...
5637,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2016,114910.267100,NaN
5638,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2017,117659.567000,NaN
5639,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2018,121599.489300,NaN
5640,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2019,124141.200000,NaN
5641,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2020,113200.000000,NaN

In [5]:
rail_rrdf = rrdf[(rrdf["TIME"]==2010) & (rrdf["SUBJECT"]=="RAIL")]
rail_rrdf
rail_rrdf

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
40,AUS,PASSTRANSP,RAIL,MLN_PKM,A,2010,14534.639315,NaN
146,AUT,PASSTRANSP,RAIL,MLN_PKM,A,2010,10737.000000,NaN
222,BEL,PASSTRANSP,RAIL,MLN_PKM,A,2010,10403.000000,NaN
297,CAN,PASSTRANSP,RAIL,MLN_PKM,A,2010,1404.000000,NaN
340,CZE,PASSTRANSP,RAIL,MLN_PKM,A,2010,6591.000000,NaN
423,DNK,PASSTRANSP,RAIL,MLN_PKM,A,2010,6577.000000,NaN
509,FIN,PASSTRANSP,RAIL,MLN_PKM,A,2010,3959.000000,NaN
614,FRA,PASSTRANSP,RAIL,MLN_PKM,A,2010,102167.000000,NaN
720,DEU,PASSTRANSP,RAIL,MLN_PKM,A,2010,83886.000000,NaN
824,GRC,PASSTRANSP,RAIL,MLN_PKM,A,2010,1337.000000,NaN
908,HUN,PASSTRANSP,RAIL,MLN_PKM,A,2010,7692.000000,NaN
1014,ISL,PASSTRANSP,RAIL,MLN_PKM,A,2010,NaN,M
1101,IRL,PASSTRANSP,RAIL,MLN_PKM,A,2010,1678.000000,NaN
1154,ITA,PASSTRANSP,RAIL,MLN_PKM,A,2010,47172.000000,NaN
1260,JPN,PASSTRANSP,RAIL,MLN_PKM,A,2010,393466.000000,NaN
1364,KOR,PASSTRANSP,RAIL,MLN_PKM,A,2010,58381.000000,NaN
1435,LUX,PASSTRANSP,RAIL,MLN_PKM,A,2010,347.000000,NaN
1488,MEX,PASSTRANSP,RAIL,MLN_PKM,A,2010,843.000000,NaN
1540,NLD,PASSTRANSP,RAIL,MLN_PKM,A,2010,14600.000000,B
1632,NOR,PASSTRANSP,RAIL,MLN_PKM,A,2010,3063.000000,NaN
1738,POL,PASSTRANSP,RAIL,MLN_PKM,A,2010,17921.000000,NaN
1829,PRT,PASSTRANSP,RAIL,MLN_PKM,A,2010,4111.000000,NaN
1898,SVK,PASSTRANSP,RAIL,MLN_PKM,A,2010,2309.000000,NaN
1978,ESP,PASSTRANSP,RAIL,MLN_PKM,A,2010,22456.000000,NaN
2082,SWE,PASSTRANSP,RAIL,MLN_PKM,A,2010,11155.000000,NaN
2188,CHE,PASSTRANSP,RAIL,MLN_PKM,A,2010,19177.000000,NaN
2281,TUR,PASSTRANSP,RAIL,MLN_PKM,A,2010,5491.000000,NaN
2387,GBR,PASSTRANSP,RAIL,MLN_PKM,A,2010,63047.610000,NaN
2483,USA,PASSTRANSP,RAIL,MLN_PKM,A,2010,31871.671919,NaN
2570,ALB,PASSTRANSP,RAIL,MLN_PKM,A,2010,19.000000,NaN
2618,ARM,PASSTRANSP,RAIL,MLN_PKM,A,2010,50.000000,NaN
2671,AZE,PASSTRANSP,RAIL,MLN_PKM,A,2010,917.000000,NaN
2762,BLR,PASSTRANSP,RAIL,MLN_PKM,A,2010,7578.000000,NaN
2813,BIH,PASSTRANSP,RAIL,MLN_PKM,A,2010,59.000000,NaN
2864,BGR,PASSTRANSP,RAIL,MLN_PKM,A,2010,2100.000000,NaN
2925,CHN,PASSTRANSP,RAIL,MLN_PKM,A,2010,876218.000000,NaN
2975,HRV,PASSTRANSP,RAIL,MLN_PKM,A,2010,1742.000000,NaN
3028,EST,PASSTRANSP,RAIL,MLN_PKM,A,2010,248.000000,NaN
3081,GEO,PASSTRANSP,RAIL,MLN_PKM,A,2010,654.000000,NaN
3161,IND,PASSTRANSP,RAIL,MLN_PKM,A,2010,978508.000000,NaN
3237,LVA,PASSTRANSP,RAIL,MLN_PKM,A,2010,749.000000,NaN
3290,LIE,PASSTRANSP,RAIL,MLN_PKM,A,2010,NaN,M
3343,LTU,PASSTRANSP,RAIL,MLN_PKM,A,2010,373.000000,NaN
3413,MKD,PASSTRANSP,RAIL,MLN_PKM,A,2010,155.000000,NaN
3519,MLT,PASSTRANSP,RAIL,MLN_PKM,A,2010,NaN,M
3569,MDA,PASSTRANSP,RAIL,MLN_PKM,A,2010,399.000000,NaN
3622,ROU,PASSTRANSP,RAIL,MLN_PKM,A,2010,5438.000000,NaN
3672,RUS,PASSTRANSP,RAIL,MLN_PKM,A,2010,138885.000000,NaN
3723,SVN,PASSTRANSP,RAIL,MLN_PKM,A,2010,813.000000,NaN
3777,UKR,PASSTRANSP,RAIL,MLN_PKM,A,2010,50248.000000,B
3829,SRB,PASSTRANSP,RAIL,MLN_PKM,A,2010,522.000000,NaN
3878,MNE,PASSTRANSP,RAIL,MLN_PKM,A,2010,91.000000,NaN
5435,ISR,PASSTRANSP,RAIL,MLN_PKM,A,2010,1986.300000,NaN
5460,ARG,PASSTRANSP,RAIL,MLN_PKM,A,2010,8817.872367,NaN
5505,CHL,PASSTRANSP,RAIL,MLN_PKM,A,2010,696.350480,NaN
5532,MAR,PASSTRANSP,RAIL,MLN_PKM,A,2010,4398.000000,NaN
5543,KAZ,PASSTRANSP,RAIL,MLN_PKM,A,2010,15799.700000,NaN
5601,UZB,PASSTRANSP,RAIL,MLN_PKM,A,2010,2904.800000,NaN

In [6]:
x = rail_rrdf['LOCATION']
rrdf

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1970,12473.066624,NaN
1,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1971,12674.783011,NaN
2,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1972,11616.093761,NaN
3,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1973,11474.354465,NaN
4,AUS,PASSTRANSP,RAIL,MLN_PKM,A,1974,10520.293577,NaN
...,...,...,...,...,...,...,...,...
5637,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2016,114910.267100,NaN
5638,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2017,117659.567000,NaN
5639,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2018,121599.489300,NaN
5640,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2019,124141.200000,NaN
5641,UZB,PASSTRANSP,ROAD,MLN_PKM,A,2020,113200.000000,NaN

In [7]:
pd.read_csv("/Users/ginoangelici/Projects/DS3/Public-Transport/data/API_IS.RRS.PASG.KM_DS2_en_csv_v2_6304065.csv")

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 68